<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>WITEE</title>
    <meta itemprop="name" content="witee">
    <meta name="keywords" content="WTE,WITEE,WITEE.IO,WTEHUB,WTEFUND,WTECYCLE,Robo-advisor,Smart investment,Robo-advisor" />
    <meta name="description" itemprop="description" content="WITEE conducts big data collection and modeling on the public opinion of the digital cryptocurrency and transaction information, and then conducts deep learning for data model through artificial intelligence. After efficient strategy analysis, WITEE provides a variety of intelligent digital cryptocurrency investment services." />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
    <link rel="shortcut icon" href="https://witee.laabit.com/image/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/index0.css" />
    <link rel="stylesheet" type="text/css" href="css/phone.css" />
</head>

<body>
    <div id="app" v-cloak>
        <a class="btops" href="#one"><img src="image/ttop.png" alt=""></a>
        <!-- bg -->
        <img class="bgs bgm" src="image/bg_oval.png" alt="">
        <img class="bgs bg1" src="image/bg_shape_top_right.png" alt="">
        <img class="bgs bg2" src="image/bg_shapes.png" alt="">
        <!-- <img class="bgs bg3" src="image/bg_shapes.png" alt="">
        <img class="bgs bg4" src="image/bg_shapes.png" alt="">
        <img class="bgs bg5" src="image/bg_shapes.png" alt="">
        <img class="bgs bg6" src="image/bg_shapes.png" alt="">
        <img class="bgs bg7" src="image/bg_shapes.png" alt="">
        <img class="bgs bg8" src="image/bg_shapes.png" alt="">
        <img class="bgs bg9" src="image/bg_shapes.png" alt=""> -->
        <div class="ups">
            <div class="fixs" v-show="fixBol">
                <img @click="fixFun" class="clss" src="image/icon_close.png" alt="">
                <p class="row1">Register as a WITEE member and receive WTE awards after WITEE is officially launched.<br>Limited quantity on a first-come-first-served basis.</p>
                <p class="row2">WITEE will introduce KYC certification. Do not use multiple mailboxes and wallet addresses to register and receive rewards.</p>
                <input type="text" v-model="youxiang" name="" value="" placeholder="E-mail">
                <input type="text" v-model="mima" name="" value="" placeholder="Login password">
                <input type="text" v-model="dizhi" name="" value="" placeholder="Wallet address">
                <div class="btns1" @click="logFun" style="margin-left:0;">Register</div>
            </div>
            <div class="header" id="one">
                <div class="HLeft">
                    <a href="index.html"><img src="http://witee.laabit.com/image/logo@3x.png" alt=""></a>
                </div>
                <div class="HRight">
                    <span><a href="index_en.html">Home</a ></span>
                    <span><a href="index_en.html?type=tdjs">Team</a ></span>
                    <span><a href="news_en.html">News</a></span>
                    <span class="active"><a href="roadmap_en.html">Roadmap</a></span>
                    <span><a href="token_en.html">TOKEN</a></span>
                    <span style="width: 163px;"><a href="ww_en.html">Witee-Weekly</a></span>
                    <span style="width: 144px;"><a href="book/witee_en.pdf" target="_blank">WHITE PAPER</a></span>
                    <span @click="fixFun"><a>Log in</a></span>
                    <!--<span><a href="ico.html">ico</a></span>-->
                    <div class="lan">
                        <img src="http://witee.laabit.com/image/en.png" alt="">
                        <div class="lange">
                            <p @click="langesta = true">
                                EN
                            </p>
                            <div class="langebox" v-if="langesta">
                                <span @click="langefun('roadmap.html')"><i>&radic;</i>CHT</span>
                                <span class="active" @click="langefun('roadmap_en.html')"><i>&radic;</i>EN</span>
                            </div>
                        </div>
                        <img src="http://witee.laabit.com/image/down.png" style="cursor: pointer;" @click="langesta = true" alt="">
                    </div>
                </div>
            </div>


            <div class="titles">
                WITEE Road Map
            </div>
            <div class="conts">
                WITEE's vision is to conduct big data collection and modeling on the public opinion and transaction information of the digital cryptocurrency, and then conduct data model deep learning through artificial intelligence. After efficient strategy analysis,
                WITEE provides a variety of intelligent digital cryptocurrency investment services to ensure the interests of investors.
            </div>
            <div class="roadmapbox">

                <svg class="roadmap pc" width="778px" height="2014px" viewBox="0 0 778 2014" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 49.2 (51160) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="P2roadmapEN-Copy" transform="translate(-326.000000, -543.000000)">
                <g id="Group-6" transform="translate(336.000000, 544.000000)">
                    <path d="M390.5,0.5 L390.5,1980.07735" id="Line" stroke="#34A9FF" stroke-width="2" stroke-linecap="square"></path>
                    <rect id="Rectangle-8" fill="rgba(48,53,64,1)" x="355" y="71" width="71" height="41"></rect>
                    <g id="Group-8" transform="translate(0.000000, 75.000000)">
                        <g id="1" transform="translate(370.000000, 0.000000)">
                            <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="66" y="12" width="331" height="149"></rect>
                            <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="75" y="21" width="313" height="131"></rect>
                            <text id="1.-Development-of-Pu" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="91" y="43">1. Development of Public Opinion Data </tspan>
                                <tspan x="91" y="67">Collection System</tspan>
                                <tspan x="91" y="91">2. Transaction Data Acquisition and System </tspan>
                                <tspan x="91" y="115">Development</tspan>
                                <tspan x="91" y="139">3. Wallet Service Development</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(47,52,62,1)" x="83" y="0" width="110" height="17"></rect>
                            <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="0" y="23">2018 </tspan>
                            </text>
                            <text id="First-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="16" font-weight="400" fill="#34A9FF">
                                <tspan x="91" y="17">First quarter</tspan>
                            </text>
                        </g>
                        <g id="2" transform="translate(0.000000, 173.000000)">
                            <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="1" y="21" width="331" height="172"></rect>
                            <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="10" y="30" width="313" height="154"></rect>
                            <text id="1.-Develop-WTECYCLE" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="21" y="62">1. Develop WTECYCLE and WTEHUB Smart </tspan>
                                <tspan x="21" y="86">Contract</tspan>
                                <tspan x="21" y="110">2. Develop Ethereum Block Service</tspan>
                                <tspan x="21" y="134">3. Develop Smart Investment Products</tspan>
                                <tspan x="21" y="158">4. APP Development</tspan>
                            </text>
                            <rect id="Rectangle-8-Copy-2" fill="rgba(42,47,57,1)" x="193" y="12" width="120" height="17"></rect>
                            <rect id="Rectangle-8-Copy" fill="rgba(43,48,58,1)" x="354" y="0" width="71" height="41"></rect>
                            <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="370" y="27"> 2018</tspan>
                            </text>
                            <text id="Second-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="16" font-weight="400" fill="#34A9FF">
                                <tspan x="195" y="26">Second quarter</tspan>
                            </text>
                        </g>
                        <g id="3" transform="translate(355.000000, 396.000000)">
                            <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="15" width="331" height="132"></rect>
                            <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="24" width="313" height="114"></rect>
                            <text id="1.-Launch-Robo-advis" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="107" y="56">1. Launch Robo-advisor Products</tspan>
                                <tspan x="107" y="80">2. Launch WTEHUB</tspan>
                                <tspan x="107" y="104">3. Launch WTECYCLE</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="98" y="3" width="120" height="17"></rect>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="0" y="0" width="71" height="41"></rect>
                            <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="21" y="26">2018</tspan>
                            </text>
                            <text id="Third-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="16" font-weight="400" fill="#34A9FF">
                                <tspan x="108" y="20">Third quarter</tspan>
                            </text>
                        </g>
                        <g id="4" transform="translate(0.000000, 574.000000)">
                            <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="1" y="21" width="331" height="102"></rect>
                            <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="10" y="30" width="313" height="84"></rect>
                            <text id="1.-Co-builder-System" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#FFFFFF">
                                <tspan x="29" y="48">1. Co-builder System Development</tspan>
                                <tspan x="29" y="75">2. Data Open Platform Development</tspan>
                            </text>
                            <rect id="Rectangle-8-Copy-2" fill="rgba(37,42,51,1)" x="192" y="12" width="120" height="17"></rect>
                            <rect id="Rectangle-8-Copy" fill="rgba(37,42,51,1)" x="354" y="0" width="71" height="41"></rect>
                            <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="376" y="27">2018</tspan>
                            </text>
                            <text id="Fourth-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="16" font-weight="400" fill="#34A9FF">
                                <tspan x="199" y="25">Fourth quarter</tspan>
                            </text>
                        </g>
                        <g id="5" transform="translate(355.000000, 728.000000)">
                            <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="331" height="132"></rect>
                            <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="313" height="114"></rect>
                            <text id="1.-Strategy-Engine-D"  font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="109" y="49">1. Strategy Engine Development</tspan>
                                <tspan x="109" y="73">2. Strategy Execution System Development</tspan>
                                <tspan x="109" y="97">3. Fund Supermarket Development</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="98" y="4" width="120" height="17"></rect>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="0" y="0" width="71" height="41"></rect>
                            <text id="First-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="16" font-weight="400" fill="#34A9FF">
                                <tspan x="111" y="21">First quarter</tspan>
                            </text>
                            <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="21" y="27">2019</tspan>
                            </text>
                        </g>
                        <g id="6" transform="translate(0.000000, 907.000000)">
                            <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="1" y="21" width="331" height="102"></rect>
                            <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="10" y="30" width="313" height="84"></rect>
                            <text id="1、Strategy-Backtesti" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#FFFFFF">
                                <tspan x="29" y="48">1、Strategy Backtesting System Development</tspan>
                                <tspan x="29" y="75">2、Strategy Rewards System Development</tspan>
                            </text>
                            <rect id="Rectangle-8-Copy-2" fill="rgba(37,42,51,1)" x="192" y="11" width="120" height="17"></rect>
                            <rect id="Rectangle-8-Copy" fill="rgba(37,42,51,1)" x="354" y="0" width="71" height="41"></rect>
                            <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="376" y="27">2019</tspan>
                            </text>
                            <text id="Second-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="16" font-weight="400" fill="#34A9FF">
                                <tspan x="194" y="25">Second quarter</tspan>
                            </text>
                        </g>
                        <g id="7" transform="translate(355.000000, 1061.000000)">
                            <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="331" height="132"></rect>
                            <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="313" height="114"></rect>
                            <text id="1.-Launch-the-Strate" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="109" y="49">1. Launch the Strategy Open Platform</tspan>
                                <tspan x="109" y="73">2. Launch the Data Development Platform</tspan>
                                <tspan x="109" y="97">3. Launch the Fund Supermarket</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="106" y="4" width="120" height="17"></rect>
                            <text id="Third-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="16" font-weight="400" fill="#34A9FF">
                                <tspan x="117" y="20">Third quarter</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="0" y="0" width="71" height="41"></rect>
                            <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="21" y="27">2019</tspan>
                            </text>
                        </g>
                        <g id="8" transform="translate(0.000000, 1240.000000)">
                            <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="1" y="21" width="331" height="102"></rect>
                            <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="10" y="30" width="313" height="84"></rect>
                            <text id="1.-Multi-chain-Data" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#FFFFFF">
                                <tspan x="29" y="48">1. Multi-chain Data System Development</tspan>
                                <tspan x="29" y="75">2. Multi-data Strategy Engine Development</tspan>
                            </text>
                            <rect id="Rectangle-8-Copy-2" fill="rgba(37,42,51,1)" x="192" y="12" width="120" height="17"></rect>
                            <rect id="Rectangle-8-Copy" fill="rgba(37,42,51,1)" x="354" y="0" width="71" height="41"></rect>
                            <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="371" y="27"> 2019</tspan>
                            </text>
                            <text id="Fourth-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="16" font-weight="400" fill="#34A9FF">
                                <tspan x="197.568" y="26">Fourth quarter</tspan>
                            </text>
                        </g>
                        <g id="9" transform="translate(355.000000, 1394.000000)">
                            <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="331" height="86"></rect>
                            <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="313" height="68"></rect>
                            <text id="1.-Develop-Multiple" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="109" y="49">1. Develop Multiple Intelligence Butler</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="98" y="4" width="120" height="17"></rect>
                            <text id="First-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="16" font-weight="400" fill="#34A9FF">
                                <tspan x="111" y="20">First quarter</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="0" y="0" width="71" height="41"></rect>
                            <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="18" y="27">2020</tspan>
                            </text>
                        </g>
                        <g id="10" transform="translate(0.000000, 1527.000000)">
                            <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="1" y="21" width="331" height="102"></rect>
                            <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="10" y="30" width="313" height="84"></rect>
                            <text id="1.-Multi-chain-Data" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#FFFFFF">
                                <tspan x="29" y="48">1. Multi-chain Data Sharing Platform </tspan>
                                <tspan x="29" y="75">Development</tspan>
                                <tspan x="29" y="102">2. Cross-link Data Interface</tspan>
                            </text>
                            <rect id="Rectangle-8-Copy-2" fill="rgba(37,42,51,1)" x="193" y="11" width="120" height="17"></rect>
                            <rect id="Rectangle-8-Copy" fill="rgba(37,42,51,1)" x="354" y="0" width="71" height="41"></rect>
                            <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="373" y="27">2020</tspan>
                            </text>
                            <text id="Second-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="16" font-weight="400" fill="#34A9FF">
                                <tspan x="195" y="25">Second quarter</tspan>
                            </text>
                        </g>
                        <g id="11" transform="translate(355.000000, 1681.000000)">
                            <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="331" height="102"></rect>
                            <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="313" height="84"></rect>
                            <text id="1.-Launch-Multi-data" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="109" y="49">1. Launch Multi-data Policy Engine</tspan>
                                <tspan x="109" y="73">2. Launch Private Butler</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="98" y="4" width="120" height="17"></rect>
                            <text id="Third-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="16" font-weight="400" fill="#34A9FF">
                                <tspan x="109" y="20">Third quarter</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="0" y="0" width="71" height="41"></rect>
                            <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="18" y="27">2020</tspan>
                            </text>
                        </g>
                        <g id="12" transform="translate(0.000000, 1830.000000)">
                            <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="1" y="21" width="331" height="86"></rect>
                            <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="10" y="30" width="313" height="68"></rect>
                            <text id="Data-Co-building" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#FFFFFF">
                                <tspan x="29" y="48">Data Co-building</tspan>
                            </text>
                            <rect id="Rectangle-8-Copy-2" fill="rgba(37,42,51,1)" x="222" y="11" width="94" height="17"></rect>
                            <rect id="Rectangle-8-Copy" fill="rgba(37,42,51,1)" x="354" y="0" width="71" height="41"></rect>
                            <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="372.2" y="27">2020</tspan>
                            </text>
                            <text id="Future" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                                <tspan x="243" y="25">Future</tspan>
                            </text>
                        </g>
                    </g>
                </g>
                <path d="" id="Path-2" stroke="#979797"></path>
            </g>
        </g>
    </svg>

                <svg class="roadmap mobel" width="335px" height="2217px" viewBox="0 0 335 2217" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="P2roadmapEN_mobile" transform="translate(-30.000000, -645.000000)">
            <g id="Group-13" transform="translate(30.000000, 646.000000)">
                <path d="M37,0 L37,2176.02298" id="Line" stroke="#34A9FF" stroke-width="2" stroke-linecap="square"></path>
                <g id="Group-10" transform="translate(1.000000, 60.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="156"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="138"></rect>
                    <text id="1.-Development-of-Pu" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1. Development of Public </tspan>
                        <tspan x="109" y="73">Opinion Data Collection System</tspan>
                        <tspan x="109" y="97">2. Transaction Data Acquisition </tspan>
                        <tspan x="109" y="121">and System Development</tspan>
                        <tspan x="109" y="145">3. Wallet Service Development</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#242A34" x="98" y="4" width="140" height="22"></rect>
                    <rect id="Rectangle-8" fill="#242A34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="27">2018</tspan>
                    </text>
                    <text id="First-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="118" y="21">First quarter</tspan>
                    </text>
                </g>
                <g id="Group-8" transform="translate(1.000000, 521.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="116"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="98"></rect>
                    <text id="1.-Launch-Robo-advis" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1. Launch Robo-advisor </tspan>
                        <tspan x="109" y="73">Products</tspan>
                        <tspan x="109" y="97">2. Launch WTEHUB</tspan>
                        <tspan x="109" y="121">3. Launch WTECYCLE</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#242A34" x="98" y="5" width="140" height="22"></rect>
                    <rect id="Rectangle-8" fill="#242A34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2018</tspan>
                    </text>
                    <text id="Third-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="116" y="22">Third quarter</tspan>
                    </text>
                </g>
                <g id="Group-8" transform="translate(1.000000, 684.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="126"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="108"></rect>
                    <text id="1.-Co-builder-System" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1. Co-builder System </tspan>
                        <tspan x="109" y="73">Development</tspan>
                        <tspan x="109" y="97">2. Data Open Platform </tspan>
                        <tspan x="109" y="121">Development</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#242A34" x="98" y="5" width="140" height="22"></rect>
                    <rect id="Rectangle-8" fill="#242A34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2018</tspan>
                    </text>
                    <text id="Fourth-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="110" y="22">Fourth quarter</tspan>
                    </text>
                </g>
                <g id="Group-2" transform="translate(1.000000, 1501.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="136"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="118"></rect>
                    <text id="1.-Multi-chain-Data" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1. Multi-chain Data System </tspan>
                        <tspan x="109" y="73">Development</tspan>
                        <tspan x="109" y="97">2. Multi-data Strategy Engine </tspan>
                        <tspan x="109" y="121">Development</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#242A34" x="98" y="4" width="140" height="22"></rect>
                    <rect id="Rectangle-8" fill="#242A34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2019</tspan>
                    </text>
                    <text id="Fourth-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="110" y="21">Fourth quarter</tspan>
                    </text>
                </g>
                <g id="Group-2" transform="translate(0.000000, 1807.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="116"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="98"></rect>
                    <text id="1.-Multi-chain-Data" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1. Multi-chain Data Sharing </tspan>
                        <tspan x="109" y="73">Platform Development</tspan>
                        <tspan x="109" y="97">2. Cross-link Data Interface</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#242A34" x="98" y="5" width="140" height="22"></rect>
                    <rect id="Rectangle-8" fill="#242A34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="19.2" y="26">2020</tspan>
                    </text>
                    <text id="Second-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="106" y="22">Second quarter</tspan>
                    </text>
                </g>
                <g id="Group-2" transform="translate(0.000000, 1970.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="106"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="88"></rect>
                    <text id="1.-Launch-Multi-data" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1. Launch Multi-data Policy </tspan>
                        <tspan x="109" y="73">Engine</tspan>
                        <tspan x="109" y="97">2. Launch Private Butler</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#242A34" x="98" y="5" width="140" height="22"></rect>
                    <rect id="Rectangle-8" fill="#242A34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="19.2" y="26">2020</tspan>
                    </text>
                    <text id="Third-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="116" y="22">Third quarter</tspan>
                    </text>
                </g>
                <g id="Group-2" transform="translate(0.000000, 2123.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="76"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="58"></rect>
                    <text id="Data-Co-building" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">Data Co-building</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#242A34" x="98" y="6" width="140" height="20"></rect>
                    <rect id="Rectangle-8" fill="#242A34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="19.2" y="26">2020</tspan>
                    </text>
                    <text id="Future" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="142" y="22">Future</tspan>
                    </text>
                </g>
                <g id="Group-2" transform="translate(0.000000, 1684.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="76"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="58"></rect>
                    <text id="1.-Develop-Multiple" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1. Develop Multiple Intelligence </tspan>
                        <tspan x="109" y="73">Butler</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#242A34" x="98" y="5" width="140" height="22"></rect>
                    <rect id="Rectangle-8" fill="#242A34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="19.2" y="26">2020</tspan>
                    </text>
                    <text id="First-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#17B3FF">
                        <tspan x="118" y="21">First quarter</tspan>
                    </text>
                </g>
                <g id="Group-9" transform="translate(0.000000, 263.000000)">
                    <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="82" y="21" width="251" height="206"></rect>
                    <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="91" y="30" width="233" height="188"></rect>
                    <text id="1.-Develop-WTECYCLE" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="110" y="54">1. Develop WTECYCLE and </tspan>
                        <tspan x="110" y="78">WTEHUB Smart Contract</tspan>
                        <tspan x="110" y="102">2. Develop Ethereum Block </tspan>
                        <tspan x="110" y="126">Service</tspan>
                        <tspan x="110" y="150">3. Develop Smart Investment </tspan>
                        <tspan x="110" y="174">Products</tspan>
                        <tspan x="110" y="198">4. APP Development</tspan>
                    </text>
                    <rect id="Rectangle-8-Copy-2" fill="#242A34" x="99" y="9" width="140" height="22"></rect>
                    <rect id="Rectangle-8-Copy" fill="#242A34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2018</tspan>
                    </text>
                    <text id="Second-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="107" y="26">Second quarter</tspan>
                    </text>
                </g>
                <g id="Group-6" transform="translate(1.000000, 857.000000)">
                    <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="82" y="21" width="251" height="156"></rect>
                    <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="91" y="30" width="233" height="138"></rect>
                    <text id="1.-Strategy-Engine-D" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#778592">
                        <tspan x="110" y="48">1. Strategy Engine Development</tspan>
                        <tspan x="110" y="75">2. Strategy Execution System </tspan>
                        <tspan x="110" y="102">Development</tspan>
                        <tspan x="110" y="129">3. Fund Supermarket </tspan>
                        <tspan x="110" y="156">Development</tspan>
                    </text>
                    <rect id="Rectangle-8-Copy-2" fill="#242A34" x="103" y="10" width="140" height="22"></rect>
                    <rect id="Rectangle-8-Copy" fill="#242A34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2019</tspan>
                    </text>
                    <text id="First-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="123" y="27">First quarter</tspan>
                    </text>
                </g>
                <g id="Group-6" transform="translate(0.000000, 1065.000000)">
                    <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="82" y="21" width="251" height="146"></rect>
                    <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="91" y="30" width="233" height="128"></rect>
                    <text id="1、Strategy-Backtesti" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#778592">
                        <tspan x="110" y="48">1、Strategy Backtesting System </tspan>
                        <tspan x="110" y="75">Development</tspan>
                        <tspan x="110" y="102">2、Strategy Rewards System </tspan>
                        <tspan x="110" y="129">Development</tspan>
                    </text>
                    <rect id="Rectangle-8-Copy-2" fill="#242A34" x="103" y="10" width="140" height="22"></rect>
                    <rect id="Rectangle-8-Copy" fill="#242A34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2019</tspan>
                    </text>
                    <text id="Second-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="111" y="27">Second quarter</tspan>
                    </text>
                </g>
                <g id="Group-6" transform="translate(0.000000, 1263.000000)">
                    <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="82" y="21" width="251" height="186"></rect>
                    <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="91" y="30" width="233" height="168"></rect>
                    <text id="1.-Launch-the-Strate" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#778592">
                        <tspan x="110" y="48">1. Launch the Strategy Open </tspan>
                        <tspan x="110" y="75">Platform</tspan>
                        <tspan x="110" y="102">2. Launch the Data </tspan>
                        <tspan x="110" y="129">Development Platform</tspan>
                        <tspan x="110" y="156">3. Launch the Fund </tspan>
                        <tspan x="110" y="183">Supermarket</tspan>
                    </text>
                    <rect id="Rectangle-8-Copy-2" fill="#242A34" x="103" y="9" width="140" height="22"></rect>
                    <rect id="Rectangle-8-Copy" fill="#242A34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2019</tspan>
                    </text>
                    <text id="Third-quarter" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="121" y="26">Third quarter</tspan>
                    </text>
                </g>
            </g>
        </g>
    </g>
</svg>

            </div>
            <div id="Home" class="footers">
                <div class="left" style="align-items:center;">
                    <div class="title" style="margin-top:146px;margin-bottom:102px;">
                        <div class="bd"></div>
                        <span class="name" style="text-align:center;">Contact Us</span>
                    </div>
                    <div class="pater">
                        <span class="con">
                          	<a href="https://m.facebook.com/Witee-394083224388964/" target="_blank"
                               style="text-decoration:none;">
                              <img src="http://witee.laabit.com/image/ico_fb@2x.png" class="ts" alt="">
                              <img src="http://witee.laabit.com/image/ico_fb@2x_active.png" class="ts1" alt="">
                            </a>
                        </span>
                        <span class="con">
                          	<a href="https://twitter.com/_Witee_" target="_blank" style="text-decoration:none;">
                              <img src="http://witee.laabit.com/image/ico_twitter@2x.png" class="ts" alt="">
                              <img src="http://witee.laabit.com/image/ico_blue_twitter@2x_active.png" class="ts1" alt="">
                             </a>
                        </span>
                        <span class="con">
                          	<a href="https://t.me/joinchat/HxEFeU9-WSRmCBS30redOQ" target="_blank"
                               style="text-decoration:none;">
                        	<img src="http://witee.laabit.com/image/ico_telegram@2x.png" class="ts" alt="">
                          	<img src="http://witee.laabit.com/image/ico_blue_telegram@2x_active.png" class="ts1" alt="">
                            </a>
                        </span>
                        <span class="con">
                          	<a href="https://github.com/witee-io" target="_blank" style="text-decoration:none;">
                        	<img src="http://witee.laabit.com/image/ico_github@2x.png" class="ts" alt="">
                            <img src="http://witee.laabit.com/image/ico_blue_github@2x_active.png" class="ts1" alt="">
                            </a>
                        </span>
                    </div>

                    <div class="btm">
                        <div class="btmL">Get first-hand information on important development progress and activities on WITEE.</div>
                        <div class="btmR">
                            <div class="tss" style="position: relative;">
                                <svg width="284px" height="54px" viewBox="0 0 284 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="p1" transform="translate(-818.000000, -8203.000000)">
                                        <g id="letmekown" transform="translate(258.000000, 7655.000000)">
                                            <path d="M574,549 L843,549 L843,588 L830,601 L561,601 L561,562 L574,549 Z"
                                                  id="Shape-Copy" stroke="#34A9FF"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                                <input type="text" v-model="email" placeholder="Email here" style="left:0;position: absolute;top: 0;width: 100%;height: 100%;background: none;padding: 18px; outline: none;">
                            </div>
                            <div class="btns1" @click="emailfun">Let me Know</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer" style="padding:0 149px; margin-top:281px;">
                <img src="http://witee.laabit.com/image/logo@3x.png" alt="">
                <div class="cl">
                    <span><a href="book/witee_cn.pdf" target="_blank" style="text-decoration:none;">White Paper</a></span>
                    <span><a href="https://github.com/witee-io" target="_blank" style="text-decoration:none;">GITHUB</a></span>
                    <span><a href="roadmap.html" style="text-decoration:none;">Roadmap</a></span>
                    <span><a href="token.html" style="text-decoration:none;">Token</a></span>
                    <!--<span><a href="ww_en.html">Witee-Weekly</a></span>-->
                    <!--<span><a href="Alpha_en.html"   style="text-decoration:none;">Alpha</a></span>-->
                    <!--<span><a href="ico_en.html"   style="text-decoration:none;">ICO</a></span>-->
                </div>
            </div>

            <span class="links" style="padding-left:10%;">Â© 2018 witee.io</span>
            <span class="links" style="">support@witee.io</span>
        </div>
    </div>
    <script type="text/javascript" src="script/config.js"></script>
    <script type="text/javascript" src="script/newapp.js"></script>
    <script type="text/javascript" src="script/vue.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                email: '',
                langesta: false,
                fixBol: false,
                youxiang: '',
                mima: '',
                dizhi: ''
            },
            methods: {
                init: function() {

                },
                logFun: function() {
                    var that = this;

                    var phone = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;

                    var jmz = {};
                    jmz.GetLength = function(str) {
                        ///<summary>获得字符串实际长度，中文2，英文1</summary>
                        ///<param name="str">要获得长度的字符串</param>
                        var realLength = 0, len = str.length, charCode = -1;
                        for (var i = 0; i < len; i++) {
                            charCode = str.charCodeAt(i);
                            if (charCode >= 0 && charCode <= 128)
                                realLength += 1;
                            else
                                realLength += 2;
                        }
                        return realLength;
                    };
                    if (!phone.test(that.youxiang)) {
                        h.toasttips(1, 'Please fill in the correct mailbox！');
                        return false;
                    } else if (jmz.GetLength(that.dizhi) != 42) {
                        h.toasttips(1, 'The address of the wallet is not correct！');
                        return false;
                    } else {
                        h.ajax(function(ret, err) {
                            if (ret.state == "0000") {
								that.youxiang='';
                               that.mima='';
                               that.dizhi='';
                                setTimeout(function () {
                                    h.toasttips(0, ret.msg[1]);
                                    that.fixBol = !that.fixBol;
                                }, 300);
                            } else {
                                setTimeout(function () {
                                    h.toasttips(1, ret.msg[1]);
                                }, 300)

                            }
                        }, "/emailuser/register", "post", {
                            email: that.youxiang,
                            password: that.mima,
                            wallet_address:that.dizhi
                        });
                    }
                },
                langefun: function(val) {
                    location.href = val;
                    this.langesta = false;
                },
                fixFun: function() {
                    this.fixBol = !this.fixBol;
                    this.youxiang='';
                    this.mima='';
                    this.dizhi='';
                },
                emailfun: function() {
                    var that = this;
                    var phone = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                    if (!phone.test(this.email)) {
                        h.toasttips(1, 'Your email！');
                        return false;
                    }
                    var showProgress = h.showProgress('Subscribe');
                    h.ajax(function(ret, err) {
                        h.hideProgress(showProgress);
                        if (ret.state == "0000") {
                          that.youxiang='';
                               that.mima='';
                               that.dizhi='';
                            setTimeout(function() {
                                h.toasttips(0, 'Subscription successful');
                            }, 300);
                        } else {
                            if (ret.msg == '已订阅') {
                                setTimeout(function() {
                                    h.toasttips(1, 'Subscribed');
                                }, 300)
                            } else {
                                setTimeout(function() {
                                    h.toasttips(1, 'Subscription failure');
                                }, 300)
                            }

                        }
                        that.email = '';
                    }, "subscribe", "post", {
                        email: this.email
                    });
                }
            },
        });

        h.ready();
    </script>
</body>

</html>
