<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="keywords" content="WTE,WITEE,WITEE.IO,WTEHUB,WTEFUND,WTECYCLE,炒币机器人,智能投资,智能投顾"/>
    <meta name="description" itemprop="description"
          content="WITEE對加密數字貨币的輿情和交易信息進行大數據采集建模，再通過人工智能對數據模型進行深度學習，經過高效的策略分析後，提供多種智能的加密數字貨币投資服務。"/><title>WITEE</title>

    <title>WITEE</title>
    <meta itemprop="name" content="witee">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
    <link rel="shortcut icon" href="https://witee.laabit.com/image/favicon.png">
    <link rel="stylesheet" type="text/css" href="css/index0.css" />
    <link rel="stylesheet" type="text/css" href="css/phone.css" />
</head>

<body>
    <div id="app" v-cloak>
        <a class="btops" href="#one"><img src="image/ttop.png" alt=""></a>

        <!-- bg -->
        <img class="bgs bgm" src="image/bg_oval.png" alt="">
        <img class="bgs bg1" src="image/bg_shape_top_right.png" alt="">
        <img class="bgs bg2" src="image/bg_shapes.png" alt="">
        <img class="bgs bg3" src="image/bg_shapes.png" alt="">
        <!-- <img class="bgs bg4" src="image/bg_shapes.png" alt="">
        <img class="bgs bg5" src="image/bg_shapes.png" alt="">
        <img class="bgs bg6" src="image/bg_shapes.png" alt="">
        <img class="bgs bg7" src="image/bg_shapes.png" alt="">
        <img class="bgs bg8" src="image/bg_shapes.png" alt="">
        <img class="bgs bg9" src="image/bg_shapes.png" alt=""> -->

        <div class="ups">

            <div class="fixs" v-show="fixBol">
                <img @click="fixFun" class="clss" src="image/icon_close.png" alt="">
                <p class="row1">註冊登記成為WITEE會員，在WITEE正式上線後可以獲得WTE獎勵。<br>數量有限，先到先得。</p>
                <p class="row2">WITEE將引入KYC認證，請勿重複使用多個郵箱、錢包地址進行註冊和領取獎勵。</p>
                <input type="text" v-model="youxiang" name="" value="" placeholder="電子郵箱">
                <input type="text" v-model="mima" name="" value="" placeholder="登錄密碼">
                <input type="text" v-model="dizhi" name="" value="" placeholder="錢包地址">
                <div class="btns1" @click="logFun" style="margin-left:0;">註冊</div>
            </div>
            <div class="header" id="one">
                <div class="HLeft">
                    <a href="index.html"><img src="http://witee.laabit.com/image/logo@3x.png" alt=""></a>
                </div>
                <div class="HRight">
                    <span><a href="index.html">首页</a ></span>
                    <span><a href="index.html?type=tdjs">团队介绍</a ></span>
                    <span><a href="news.html">新闻</a></span>
                    <span class="active"><a href="roadmap.html">路线图</a></span>
                    <span><a href="token.html">TOKEN</a></span>
                    <span><a href="ww.html">Witee-Weekly</a></span>
                    <span><a href="book/witee_cn.pdf" target="_blank">下載白皮書</a></span>
                    <span @click="fixFun"><a>注册</a></span>
                    <!--<span><a href="ico.html">ico</a></span>-->
                    <div class="lan">
                        <img src="http://witee.laabit.com/image/en.png" alt="">
                        <div class="lange">
                            <p @click="langesta = true">
                                CHT
                            </p>
                            <div class="langebox" v-if="langesta">
                                <span class="active" @click="langefun('roadmap.html')"><i>&radic;</i>CHT</span>
                                <span @click="langefun('roadmap_en.html')"><i>&radic;</i>EN</span>
                            </div>
                        </div>
                        <img src="http://witee.laabit.com/image/down.png" style="cursor: pointer;" @click="langesta = true" alt="">
                    </div>
                </div>
            </div>


            <div class="titles">
                WITEE 路线图
            </div>
            <div class="conts">
                WTE的愿景是对加密数字货币的舆情和交易信息进行大数据采集建模，再通过人工智能对数据模型进行深度学习，经过高效的策略分析后，提供多种智能的加密数字货币投资服务。为投资人的利益保驾护航。
            </div>
            <div class="roadmapbox">

                <svg class="roadmap pc" width="772px" height="2014px" viewBox="0 0 772 2014" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="P2roadmapEN" transform="translate(-326.000000, -534.000000)">
                <g id="Group-6" transform="translate(330.000000, 535.000000)">
                    <path d="M390.5,0.5 L390.5,1980.07735" id="Line" stroke="#34A9FF" stroke-width="2" stroke-linecap="square"></path>
                    <rect id="Rectangle-8" fill="rgba(48,53,64,1)" x="355" y="71" width="71" height="41"></rect>
                    <g id="Group-8" transform="translate(0.000000, 73.000000)">
                        <g id="1" transform="translate(370.000000, 0.000000)">
                            <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="66" y="14" width="331" height="130"></rect>
                            <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="75" y="23" width="313" height="112"></rect>
                            <text id="1、舆情数据采集系统开发-2、交易数据采" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="94" y="47">1、舆情数据采集系统开发</tspan>
                                <tspan x="94" y="71">2、交易数据采集系统开发</tspan>
                                <tspan x="94" y="95">3、钱包服务开发</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(47,52,62,1)" x="83" y="2" width="101" height="17"></rect>
                            <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="0" y="25">2018 </tspan>
                            </text>
                            <text id="第一季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                                <tspan x="100" y="18">第一季度</tspan>
                            </text>
                        </g>
                        <g id="2" transform="translate(0.000000, 175.000000)">
                            <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="1" y="21" width="331" height="172"></rect>
                            <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="10" y="30" width="313" height="154"></rect>
                            <text id="1、WTEFUND、WTECYCLE、W" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="29" y="54">1、WTEFUND、WTECYCLE、WTEHUB智能</tspan>
                                <tspan x="29" y="78">合约开发</tspan>
                                <tspan x="29" y="102">2、以太坊区块链服务开发</tspan>
                                <tspan x="29" y="126">3、智能投顾产品开发</tspan>
                                <tspan x="29" y="150">4、APP开发</tspan>
                            </text>
                            <rect id="Rectangle-8-Copy-2" fill="rgba(42,47,57,1)" x="210" y="11" width="101" height="17"></rect>
                            <rect id="Rectangle-8-Copy" fill="rgba(43,48,58,1)" x="354" y="0" width="71" height="41"></rect>
                            <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="370" y="27"> 2018</tspan>
                            </text>
                            <text id="第二季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                                <tspan x="227" y="25">第二季度</tspan>
                            </text>
                        </g>
                        <g id="3" transform="translate(355.000000, 398.000000)">
                            <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="15" width="331" height="132"></rect>
                            <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="24" width="313" height="114"></rect>
                            <text id="1、智能投顾产品上线-2、WTEHUB上" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="109" y="48">1、智能投顾产品上线</tspan>
                                <tspan x="109" y="72">2、WTEHUB上线</tspan>
                                <tspan x="109" y="96">3、WTECYCLE上线</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="98" y="3" width="95" height="17"></rect>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="0" y="0" width="71" height="41"></rect>
                            <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="21" y="26">2018</tspan>
                            </text>
                            <text id="第三季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                                <tspan x="112" y="19">第三季度</tspan>
                            </text>
                        </g>
                        <g id="4" transform="translate(0.000000, 576.000000)">
                            <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="1" y="21" width="331" height="102"></rect>
                            <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="10" y="30" width="313" height="84"></rect>
                            <text id="1、共建者系统开发-2、数据开放平台开发" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#FFFFFF">
                                <tspan x="29" y="48">1、共建者系统开发</tspan>
                                <tspan x="29" y="75">2、数据开放平台开发</tspan>
                            </text>
                            <rect id="Rectangle-8-Copy-2" fill="rgba(37,42,51,1)" x="210" y="11" width="101" height="17"></rect>
                            <rect id="Rectangle-8-Copy" fill="rgba(37,42,51,1)" x="354" y="0" width="71" height="41"></rect>
                            <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="376" y="27">2018</tspan>
                            </text>
                            <text id="第四季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                                <tspan x="227" y="25">第四季度</tspan>
                            </text>
                        </g>
                        <g id="5" transform="translate(355.000000, 730.000000)">
                            <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="331" height="132"></rect>
                            <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="313" height="114"></rect>
                            <text id="1、策略引擎开发-2、策略执行系统开发" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="109" y="49">1、策略引擎开发</tspan>
                                <tspan x="109" y="73">2、策略执行系统开发</tspan>
                                <tspan x="109" y="97">3、基金超市开发</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="98" y="4" width="101" height="17"></rect>
                            <text id="第一季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                                <tspan x="115" y="20">第一季度</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="0" y="0" width="71" height="41"></rect>
                            <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="21" y="27">2019</tspan>
                            </text>
                        </g>
                        <g id="6" transform="translate(0.000000, 909.000000)">
                            <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="1" y="21" width="331" height="102"></rect>
                            <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="10" y="30" width="313" height="84"></rect>
                            <text id="1、策略回测系统开发-2、策略奖励回报系" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#FFFFFF">
                                <tspan x="29" y="48">1、策略回测系统开发</tspan>
                                <tspan x="29" y="75">2、策略奖励回报系统开发</tspan>
                            </text>
                            <rect id="Rectangle-8-Copy-2" fill="rgba(37,42,51,1)" x="210" y="11" width="101" height="17"></rect>
                            <rect id="Rectangle-8-Copy" fill="rgba(37,42,51,1)" x="354" y="0" width="71" height="41"></rect>
                            <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="376" y="27">2019</tspan>
                            </text>
                            <text id="第二季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                                <tspan x="227" y="25">第二季度</tspan>
                            </text>
                        </g>
                        <g id="7" transform="translate(355.000000, 1063.000000)">
                            <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="331" height="132"></rect>
                            <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="313" height="114"></rect>
                            <text id="1、策略开放平台上线-2、数据开放平台上" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="109" y="49">1、策略开放平台上线</tspan>
                                <tspan x="109" y="73">2、数据开放平台上线</tspan>
                                <tspan x="109" y="97">3、基金超市上线</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="98" y="4" width="101" height="17"></rect>
                            <text id="第三季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                                <tspan x="115" y="20">第三季度</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="0" y="0" width="71" height="41"></rect>
                            <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="21" y="27">2019</tspan>
                            </text>
                        </g>
                        <g id="8" transform="translate(0.000000, 1242.000000)">
                            <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="1" y="21" width="331" height="102"></rect>
                            <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="10" y="30" width="313" height="84"></rect>
                            <text id="1、多链数据系统开发-2、多数据策略引擎" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#FFFFFF">
                                <tspan x="29" y="48">1、多链数据系统开发</tspan>
                                <tspan x="29" y="75">2、多数据策略引擎开发</tspan>
                            </text>
                            <rect id="Rectangle-8-Copy-2" fill="rgba(37,42,51,1)" x="210" y="11" width="101" height="17"></rect>
                            <rect id="Rectangle-8-Copy" fill="rgba(37,42,51,1)" x="354" y="0" width="71" height="41"></rect>
                            <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="371" y="27"> 2019</tspan>
                            </text>
                            <text id="第四季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                                <tspan x="227" y="25">第四季度</tspan>
                            </text>
                        </g>
                        <g id="9" transform="translate(355.000000, 1396.000000)">
                            <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="331" height="86"></rect>
                            <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="313" height="68"></rect>
                            <text id="1、多元智能管家开发" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="109" y="49">1、多元智能管家开发</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="98" y="4" width="101" height="17"></rect>
                            <text id="第一季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                                <tspan x="115" y="20">第一季度</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="0" y="0" width="71" height="41"></rect>
                            <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="18" y="27">2020</tspan>
                            </text>
                        </g>
                        <g id="10" transform="translate(0.000000, 1529.000000)">
                            <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="1" y="21" width="331" height="102"></rect>
                            <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="10" y="30" width="313" height="84"></rect>
                            <text id="1、多链数据共享平台开发-2、垮链数据接" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#FFFFFF">
                                <tspan x="29" y="48">1、多链数据共享平台开发</tspan>
                                <tspan x="29" y="75">2、垮链数据接口</tspan>
                            </text>
                            <rect id="Rectangle-8-Copy-2" fill="rgba(37,42,51,1)" x="210" y="11" width="101" height="17"></rect>
                            <rect id="Rectangle-8-Copy" fill="rgba(37,42,51,1)" x="354" y="0" width="71" height="41"></rect>
                            <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="373" y="27">2020</tspan>
                            </text>
                            <text id="第二季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                                <tspan x="227" y="25">第二季度</tspan>
                            </text>
                        </g>
                        <g id="11" transform="translate(355.000000, 1683.000000)">
                            <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="331" height="102"></rect>
                            <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="313" height="84"></rect>
                            <text id="1、多数据策略引擎上线-2、私有管家上线" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#FFFFFF">
                                <tspan x="109" y="49">1、多数据策略引擎上线</tspan>
                                <tspan x="109" y="73">2、私有管家上线</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="98" y="4" width="88" height="17"></rect>
                            <text id="第三季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                                <tspan x="108" y="20">第三季度</tspan>
                            </text>
                            <rect id="Rectangle-8" fill="rgba(37,42,51,1)" x="0" y="0" width="71" height="41"></rect>
                            <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="18" y="27">2020</tspan>
                            </text>
                        </g>
                        <g id="12" transform="translate(0.000000, 1832.000000)">
                            <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="1" y="21" width="331" height="86"></rect>
                            <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="10" y="30" width="313" height="68"></rect>
                            <text id="数据共建" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#FFFFFF">
                                <tspan x="29" y="48">数据共建</tspan>
                            </text>
                            <rect id="Rectangle-8-Copy-2" fill="rgba(37,42,51,1)" x="222" y="11" width="94" height="17"></rect>
                            <rect id="Rectangle-8-Copy" fill="rgba(37,42,51,1)" x="354" y="0" width="71" height="41"></rect>
                            <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                                <tspan x="372.2" y="27">2020</tspan>
                            </text>
                            <text id="未来" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                                <tspan x="252" y="25">未来</tspan>
                            </text>
                        </g>
                    </g>
                </g>
                <path d="" id="Path-2" stroke="#979797"></path>
            </g>
        </g>
    </svg>


                <svg class="roadmap mobel" width="334px" height="1807px" viewBox="0 0 334 1807" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="iPhone-8" transform="translate(-30.000000, -645.000000)">
            <g id="Group-13" transform="translate(30.000000, 646.000000)">
                <path d="M37,-1.13686838e-13 L37,1779.01377" id="Line" stroke="#34A9FF" stroke-width="2" stroke-linecap="square"></path>
                <g id="Group-10" transform="translate(1.000000, 60.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="116"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="98"></rect>
                    <text id="1、舆情数据采集系统开发-2、交易数据采" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1、舆情数据采集系统开发</tspan>
                        <tspan x="109" y="73">2、交易数据采集系统开发</tspan>
                        <tspan x="109" y="97">3、钱包服务开发</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#252B34" x="98" y="4" width="108" height="24"></rect>
                    <rect id="Rectangle-8" fill="#252B34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2018</tspan>
                    </text>
                    <text id="第一季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="118" y="22">第一季度</tspan>
                    </text>
                </g>
                <g id="Group-8" transform="translate(1.000000, 441.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="106"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="88"></rect>
                    <text id="1、智能投顾产品上线-2、WTEHUB上" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1、智能投顾产品上线</tspan>
                        <tspan x="109" y="73">2、WTEHUB上线</tspan>
                        <tspan x="109" y="97">3、WTECYCLE上线</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#252B34" x="98" y="4" width="108" height="24"></rect>
                    <rect id="Rectangle-8" fill="#252B34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2018</tspan>
                    </text>
                    <text id="第三季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="118" y="22">第三季度</tspan>
                    </text>
                </g>
                <g id="Group-8" transform="translate(1.000000, 594.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="86"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="68"></rect>
                    <text id="1、共建者系统开发-2、数据开放平台开发" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1、共建者系统开发</tspan>
                        <tspan x="109" y="73">2、数据开放平台开发</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#252B34" x="98" y="4" width="108" height="24"></rect>
                    <rect id="Rectangle-8" fill="#252B34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2018</tspan>
                    </text>
                    <text id="第四季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="118" y="22">第四季度</tspan>
                    </text>
                </g>
                <g id="Group-2" transform="translate(1.000000, 1191.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="86"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="68"></rect>
                    <text id="1、多链数据系统开发-2、多数据策略引擎" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1、多链数据系统开发</tspan>
                        <tspan x="109" y="73">2、多数据策略引擎开发</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#252B34" x="98" y="4" width="108" height="24"></rect>
                    <rect id="Rectangle-8" fill="#252B34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2019</tspan>
                    </text>
                    <text id="第四季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="118" y="22">第四季度</tspan>
                    </text>
                </g>
                <g id="Group-2" transform="translate(1.000000, 1447.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="86"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="68"></rect>
                    <text id="1、多链数据共享平台开发-2、垮链数据接" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1、多链数据共享平台开发</tspan>
                        <tspan x="109" y="73">2、垮链数据接口</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#252B34" x="98" y="4" width="108" height="24"></rect>
                    <rect id="Rectangle-8" fill="#252B34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="19.2" y="26">2020</tspan>
                    </text>
                    <text id="第二季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="118" y="22">第二季度</tspan>
                    </text>
                </g>
                <g id="Group-2" transform="translate(1.000000, 1580.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="86"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="68"></rect>
                    <text id="1、多数据策略引擎上线-2、私有管家上线" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1、多数据策略引擎上线</tspan>
                        <tspan x="109" y="73">2、私有管家上线</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#252B34" x="98" y="4" width="108" height="24"></rect>
                    <rect id="Rectangle-8" fill="#252B34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="19.2" y="26">2020</tspan>
                    </text>
                    <text id="第三季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="118" y="22">第三季度</tspan>
                    </text>
                </g>
                <g id="Group-2" transform="translate(1.000000, 1713.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="76"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="58"></rect>
                    <text id="数据共建" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">数据共建</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#252B34" x="98" y="4" width="108" height="24"></rect>
                    <rect id="Rectangle-8" fill="#252B34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="19.2" y="26">2020</tspan>
                    </text>
                    <text id="未来" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="135" y="22">未来</tspan>
                    </text>
                </g>
                <g id="Group-2" transform="translate(1.000000, 1324.000000)">
                    <rect id="Rectangle-7" stroke="#34A9FF" stroke-width="2" x="81" y="16" width="251" height="76"></rect>
                    <rect id="Rectangle-7" fill="#34A9FF" opacity="0.128849638" x="90" y="25" width="233" height="58"></rect>
                    <text id="1、多元智能管家开发" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="109" y="49">1、多元智能管家开发</tspan>
                    </text>
                    <rect id="Rectangle-8" fill="#252B34" x="98" y="4" width="108" height="24"></rect>
                    <rect id="Rectangle-8" fill="#252B34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2020" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="19.2" y="26">2020</tspan>
                    </text>
                    <text id="第一季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="118" y="22">第一季度</tspan>
                    </text>
                </g>
                <g id="Group-9" transform="translate(0.000000, 223.000000)">
                    <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="82" y="21" width="251" height="166"></rect>
                    <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="91" y="30" width="233" height="148"></rect>
                    <text id="1、WTEFUND、WTECYCLE、W" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="24" fill="#778592">
                        <tspan x="110" y="54">1、WTEFUND、WTECYCLE、</tspan>
                        <tspan x="110" y="78">WTEHUB智能合约开发</tspan>
                        <tspan x="110" y="102">2、以太坊区块链服务开发</tspan>
                        <tspan x="110" y="126">3、智能投顾产品开发</tspan>
                        <tspan x="110" y="150">4、APP开发</tspan>
                    </text>
                    <rect id="Rectangle-8-Copy-2" fill="#252B34" x="99" y="9" width="108" height="24"></rect>
                    <rect id="Rectangle-8-Copy" fill="#252B34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2018" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2018</tspan>
                    </text>
                    <text id="第二季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="119" y="27">第二季度</tspan>
                    </text>
                </g>
                <g id="Group-6" transform="translate(0.000000, 727.000000)">
                    <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="82" y="21" width="251" height="116"></rect>
                    <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="91" y="30" width="233" height="98"></rect>
                    <text id="1、策略引擎开发-2、策略执行系统开发" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#778592">
                        <tspan x="110" y="48">1、策略引擎开发</tspan>
                        <tspan x="110" y="75">2、策略执行系统开发</tspan>
                        <tspan x="110" y="102">3、基金超市开发</tspan>
                    </text>
                    <rect id="Rectangle-8-Copy-2" fill="#252B34" x="99" y="11" width="108" height="24"></rect>
                    <rect id="Rectangle-8-Copy" fill="#252B34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2019</tspan>
                    </text>
                    <text id="第一季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="119" y="29">第一季度</tspan>
                    </text>
                </g>
                <g id="Group-6" transform="translate(0.000000, 895.000000)">
                    <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="82" y="21" width="251" height="86"></rect>
                    <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="91" y="30" width="233" height="68"></rect>
                    <text id="1、策略回测系统开发-2、策略奖励回报系" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#778592">
                        <tspan x="110" y="48">1、策略回测系统开发</tspan>
                        <tspan x="110" y="75">2、策略奖励回报系统开发</tspan>
                    </text>
                    <rect id="Rectangle-8-Copy-2" fill="#252B34" x="99" y="11" width="108" height="24"></rect>
                    <rect id="Rectangle-8-Copy" fill="#252B34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2019</tspan>
                    </text>
                    <text id="第二季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="119" y="29">第二季度</tspan>
                    </text>
                </g>
                <g id="Group-6" transform="translate(0.000000, 1033.000000)">
                    <rect id="Rectangle-7-Copy" stroke="#34A9FF" stroke-width="2" x="82" y="21" width="251" height="106"></rect>
                    <rect id="Rectangle-7-Copy-2" fill="#34A9FF" opacity="0.128849638" x="91" y="30" width="233" height="88"></rect>
                    <text id="1、策略开放平台上线-2、数据开放平台上" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" line-spacing="27" fill="#778592">
                        <tspan x="110" y="48">1、策略开放平台上线</tspan>
                        <tspan x="110" y="75">2、数据开放平台上线</tspan>
                        <tspan x="110" y="102">3、基金超市上线</tspan>
                    </text>
                    <rect id="Rectangle-8-Copy-2" fill="#252B34" x="99" y="11" width="108" height="24"></rect>
                    <rect id="Rectangle-8-Copy" fill="#252B34" x="0" y="0" width="71" height="41"></rect>
                    <text id="2019" font-family="PingFangSC-Medium, PingFang SC" font-size="14" font-weight="400" fill="#FFFFFF">
                        <tspan x="20.044" y="26">2019</tspan>
                    </text>
                    <text id="第三季度" font-family="PingFangSC-Medium, PingFang SC" font-size="17" font-weight="400" fill="#34A9FF">
                        <tspan x="119" y="29">第三季度</tspan>
                    </text>
                </g>
            </g>
        </g>
    </g>
</svg>

            </div>
            <div id="Home" class="footers">
                <div class="left" style="align-items:center;">
                    <div class="title" style="margin-top:146px;margin-bottom:102px;">
                        <div class="bd"></div>
                        <span class="name" style="text-align:center;">联系我们</span>
                    </div>
                    <div class="pater">
                        <span class="con">
                          	<a href="https://m.facebook.com/Witee-394083224388964/" target="_blank"
                               style="text-decoration:none;">
                              <img src="http://witee.laabit.com/image/ico_fb@2x.png" class="ts" alt="">
                              <img src="http://witee.laabit.com/image/ico_fb@2x_active.png" class="ts1" alt="">
                            </a>
                        </span>
                        <span class="con">
                          	<a href="https://twitter.com/_Witee_" target="_blank" style="text-decoration:none;">
                              <img src="http://witee.laabit.com/image/ico_twitter@2x.png" class="ts" alt="">
                              <img src="http://witee.laabit.com/image/ico_blue_twitter@2x_active.png" class="ts1" alt="">
                             </a>
                        </span>
                        <span class="con">
                          	<a href="https://t.me/joinchat/HxEFeU9-WSRmCBS30redOQ" target="_blank"
                               style="text-decoration:none;">
                        	<img src="http://witee.laabit.com/image/ico_telegram@2x.png" class="ts" alt="">
                          	<img src="http://witee.laabit.com/image/ico_blue_telegram@2x_active.png" class="ts1" alt="">
                            </a>
                        </span>
                        <span class="con">
                          	<a href="https://github.com/witee-io" target="_blank" style="text-decoration:none;">
                        	<img src="http://witee.laabit.com/image/ico_github@2x.png" class="ts" alt="">
                            <img src="http://witee.laabit.com/image/ico_blue_github@2x_active.png" class="ts1" alt="">
                            </a>
                        </span>
                    </div>

                    <div class="btm">
                        <div class="btmL">获取关于WITEE的第一手重要开发进度与活动消息。</div>
                        <div class="btmR">
                            <div class="tss" style="position: relative;">
                                <svg width="284px" height="54px" viewBox="0 0 284 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="p1" transform="translate(-818.000000, -8203.000000)">
                                        <g id="letmekown" transform="translate(258.000000, 7655.000000)">
                                            <path d="M574,549 L843,549 L843,588 L830,601 L561,601 L561,562 L574,549 Z"
                                                  id="Shape-Copy" stroke="#34A9FF"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                                <input type="text" v-model="email" placeholder="您的Email" style="left:0;position: absolute;top: 0;width: 100%;height: 100%;background: none;padding: 18px; outline: none;">
                            </div>
                            <div class="btns1" @click="emailfun">訂閱</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer" style="padding:0 149px; margin-top:281px;">
                <img src="http://witee.laabit.com/image/logo@3x.png" alt="">
                <div class="cl">
                    <span><a href="book/witee_cn.pdf" target="_blank" style="text-decoration:none;">下载白皮书</a></span>
                    <span><a href="https://github.com/witee-io" target="_blank" style="text-decoration:none;">GITHUB</a></span>
                    <span><a href="roadmap.html" style="text-decoration:none;">路线图</a></span>
                    <span><a href="token.html" style="text-decoration:none;">WTE代币</a></span>
                    <!--<span><a href="ww.html">Witee-Weekly</a></span>-->
                    <!--<span><a href="Alpha.html" style="text-decoration:none;">Alpha</a></span>-->
                    <!--<span><a href="ico.html"  style="text-decoration:none;">ICO</a></span>-->
                </div>
            </div>

            <span class="links" style="padding-left:10%;">© 2018 witee.io</span>
            <span class="links" style="">support@witee.io</span>
        </div>
    </div>
    <script type="text/javascript" src="script/config.js"></script>
    <script type="text/javascript" src="script/newapp.js"></script>
    <script type="text/javascript" src="script/vue.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                email: '',
                langesta: false,
                fixBol: false,
                youxiang: '',
                mima: '',
                dizhi: ''
            },
            methods: {
                init: function() {

                },
                logFun: function() {
                    var that = this;

                    var phone = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;

                    var jmz = {};
                    jmz.GetLength = function(str) {
                        ///<summary>获得字符串实际长度，中文2，英文1</summary>
                        ///<param name="str">要获得长度的字符串</param>
                        var realLength = 0, len = str.length, charCode = -1;
                        for (var i = 0; i < len; i++) {
                            charCode = str.charCodeAt(i);
                            if (charCode >= 0 && charCode <= 128)
                                realLength += 1;
                            else
                                realLength += 2;
                        }
                        return realLength;
                    };
                    if (!phone.test(that.youxiang)) {
                        h.toasttips(1, '请填写正确的邮箱！');
                        return false;
                    } else if (jmz.GetLength(that.dizhi) != 42) {
                        h.toasttips(1, '錢包地址不正確');
                        return false;
                    } else {
                        h.ajax(function(ret, err) {
                            if (ret.state == "0000") {
								that.youxiang='';
                               that.mima='';
                               that.dizhi='';
                                setTimeout(function () {
                                    h.toasttips(0, ret.msg[0]);
                                    that.fixBol = !that.fixBol;
                                }, 300);
                            } else {
                                setTimeout(function () {
                                    h.toasttips(1, ret.msg[0]);
                                }, 300)

                            }
                        }, "/emailuser/register", "post", {
                            email: that.youxiang,
                            password: that.mima,
                            wallet_address:that.dizhi
                        });
                    }
                },
                fixFun: function() {
                    this.fixBol = !this.fixBol;
                    this.youxiang='';
                    this.mima='';
                    this.dizhi='';
                },
                langefun: function(val) {
                    location.href = val;
                    this.langesta = false;
                },
                emailfun: function() {
                    var that = this;
                    var phone = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                    if (!phone.test(this.email)) {
                        h.toasttips(1, '请填写正确的邮箱！');
                        return false;
                    }
                    var showProgress = h.showProgress('订阅中');
                    h.ajax(function(ret, err) {
                        h.hideProgress(showProgress);
                        if (ret.state == "0000") {
                          that.youxiang='';
                               that.mima='';
                               that.dizhi='';
                            setTimeout(function() {
                                h.toasttips(0, '订阅成功');
                            }, 300);
                        } else {
                            if (ret.msg == '已订阅') {
                                setTimeout(function() {
                                    h.toasttips(1, '已订阅');
                                }, 300)
                            } else {
                                setTimeout(function() {
                                    h.toasttips(1, '订阅失败');
                                }, 300)
                            }

                        }
                        that.email = '';
                    }, "subscribe", "post", {
                        email: this.email
                    });
                }
            },
        });

        h.ready();
    </script>
</body>

</html>
